.dynamic-cmp {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
    background-color: $clr1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    top: 50px;
    z-index: 5;
    transform: translateX(8px);

    .dynamic-cmp-header {
        position: relative;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        z-index: 999;

        .dynamic-cmp-close {
            position: absolute;
            height: 2em;
            width: 2em;
            top: 10px;
            right: 10px;
            background-color: transparent;

            .task-icon-img {
                height: 1.5em;
                width: 1.5em;

                path {
                    fill: $clr4;
                }
            }
        }

        .dynamic-cmp-header-title {
            flex-grow: 1;
            text-align: center;
            font-size: 0.875rem;
        }
    }

    hr {
        margin: 0px 12px 0px 12px;
    }

    .create-board-preview {
        display: flex;
        width: 100%;
        height: 130px;
        position: relative;

        .img-bottom {

            width: 200px;
            height: 120px;
            margin: 8px auto;
            object-fit: cover;

        }

        .svg-img {
            z-index: 2;
            position: absolute;
            top: 10%;
            left: 20%;
            width: 170px
        }
    }

    .buttons-section {
        padding-inline: 11px;
        margin-top: 10px;
        padding-bottom: 5px;
    }

    h3 {
        font-size: 0.75rem;
        font-weight: 700;
        margin: 15px 10px 5px 10px;
        color: $clr5;
    }

    .backgrounds-container {
        display: flex;
        justify-content: space-between;
        margin: 0px 10px;

        .bg-img {
            width: 64px;
            height: 40px;
            object-fit: cover;
            border-radius: 3px;
        }
    }

    .colors-container {
        display: flex;
        justify-content: space-between;
        margin: 8px 10px;

        .bg-colors {
            width: 47px;
            height: 30px;
            object-fit: cover;
            border-radius: 3px;
        }
    }

    .create-board-input {
        width: 280px;
        height: 32px;
        margin: 0px 10px;
        border-radius: 4px;
        border: 1px solid $clr4;
        font-size: 1rem;
        border: 2px solid $clr8;

        &:hover {
            border-color: red;
        }
    }

    h3 {
        span {
            color: red;
            font-weight: 700;
        }
    }

    h4 {
        margin-left: 10px;
        font-size: 0.85rem;
        font-weight: 400;
    }

    .create-btn {
        width: 280px;
        height: 32px;
        align-self: center;
        font-size: 0.875rem;
        margin: 10px;
        background-color: $clr2 ;
        border-radius: 3px;
        color: $clr3;
    }

    .blue {
        background-color: $clrBtnH ;
        color: $clr1;
    }
}