.activities-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 10px;
    overflow-y: auto;
    max-height: 75vh;
    .activity-container {
        color: $clr7;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        .by {
            font-weight: 700;
        }
        .created-at {
            font-size: 12px;
            margin-block-end: 10px;
        }
    }
}
