.dyn-cmp-members-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    h3 {
        font-size: 0.75rem;
        padding-left: 8px;
    }

    .dyn-cmp-member {
        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover {
            background-color: $clr3;
            cursor: pointer;
        }


        .member-img {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            margin-right: 10px;
            margin-left: 5px;
            transform: translateY(3px);
        }

        span {
            font-size: 1rem;
            font-weight: 400;
        }

        .checkbox {
            margin-left: auto;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            border: none;
            width: 11px;
            height: 11px;
            position: relative;
            overflow: hidden;
        }

        .checkbox:before {
            content: "";
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            border: none;
            transition: background-color 0.2s ease;
        }

        .checkbox:checked:before {
            background-color: white;
        }

        .checkbox:checked:after {
            content: "✓";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1rem;
            color: $clr7;
        }
    }
}