.app-header {
    position: fixed;
    width: 100vw;
    background-color: $clr2;
    margin: 0;
    padding: 8px;
    height: 48px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    z-index: 1;

    .app-logo {
        cursor: pointer;
        padding-block-end: 3px;
    }

    .logo-img {
        width: 1.4rem;
        height: 1.4rem;
        margin-left: 16px;
        padding-block-end: 2px;
        cursor: pointer;
    }


    .main-nav {
        font-size: 14px;
        display: flex;
        padding: 12px;
        color: $clr4;
        align-items: center;
        align-content: center;

        .down-img {
            width: 0.9rem;
            height: 0.9rem;
            margin-left: 5px;
        }

        .link-section {
            display: flex;

            a {
                color: $clr4;
                display: flex;
                align-items: end;
                padding-right: 24px;
            }
        }

        button {
            width: 64px;
            height: 32px;
            background-color: $clr3;
            color: $clr4;
            border-radius: 3px;
            font-size: 14px;

            &:hover {
                background-color: $clrSCROLL;
            }
        }
    }

    .header-search {
        height: 2rem;
        width: 100%;
    }

    .header-actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 1;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0px;

            .app-header-icon {
                width: 22px;
                height: 22px;
                margin-inline-start: 8px;
            }
        }

        .search-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: $clr3;
            min-width: 170px;
            height: 1.85rem;
            border-radius: 6px;

            input {
                font-size: 0.75rem;
                height: 1.85rem;
                width: 100%;
                border: none;
                background-color: $clr3;
                max-width: 500px;
                transition: width 0.2s ease;
            }

            input:focus {
                width: 400px;
            }

            .search-img {
                width: 0.8rem;
                height: 0.8rem;
                margin-left: 8px;
                margin-right: 8px;
            }
        }
    }
}