.board-header-container {
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    background-color: $clrBH;
    backdrop-filter: blur(4px);
    line-height: 20px;
    padding-block-end: 12px;
    padding-inline-start: 16px;
    padding-inline-end: 10px;
    padding-block-start: 12px;
    height: 56px;
    margin: 0;
    margin-block-start: 48px;
    align-content: center;
    align-items: center;
    color: $clr7;
    button {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        padding: 6px;
        border-radius: 3px;
        &:hover {
            background-color: $clrH;
        }
    }
    .separator {
        width: 0.5px;
        height: 18px;
        background-color: $clr7;
        opacity: 0.16;
        margin: 0;
        margin-block-start: 6px;
    }

    .board-header-icon {
        width: 16px;
        height: 16px;
        path {
            fill: $clr7;
        }
    }
    .board-header-left {
        display: flex;
        justify-content: space-between;

        .btn-board-select {
            width: 112.5px;
            display: flex;
            justify-content: space-between;
            padding-inline: 12px;
            padding-block: 6px;
        }

        .board-title {
            margin: 0;
            font-size: 1.125rem;
            line-height: 2rem;
            font-weight: 700;
            padding-inline: 10px;
        }
    }

    .board-header-right {
        display: flex;
        justify-content: space-between;
        .btn-board-right {
            display: flex;
            width: auto;
        }
        .board-header-icon {
            margin-inline-end: 5px;
        }
    }
}
