.homepage-header-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    line-height: 30px;
    position: fixed;
    background-color: $clr1;
    color: $clrHTXT;
    z-index: 1;
    color: $clr7;
    padding-inline: 12px;

    .menu-button {}

    @include for-narrow-layout {
        justify-content: flex-start;
        padding-inline: 5%;

    }

    .homepage-header-logo {
        line-height: 30px;
        padding-block-start: 10px;
        padding-inline-end: 16px;
        align-self: flex-start;
        color: $clr7;

        h1 {
            margin: 0;
        }
    }

    .homepage-header-nav {
        display: flex;
        transition: 0.8s;
        left: 0;
        flex-direction: column;
        font-size: 2rem;
        color: $clr4;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 0px;
        background: $clr1;
        top: 10px;
        transition: 0.6s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        z-index: 4;
        position: absolute;
        transform: translateY(49px);

        @include for-narrow-layout {
            position: static;
            transform: translateY(0px);
        }

        &.open-homepage-menu {
            height: 90vh;
            position: absolute;
            transform: translateY(49px);

            .homepage-header-btn {
                padding-block: 1.8rem;
                align-items: center;
                opacity: 1;
                transition: 0.4s;
                width: 100%;

                &::after {
                    position: absolute;
                    content: '';
                    height: 0.5px;
                    width: 96%;
                    transform: translateY(38px);
                    background-color: $clr3;
                }
            }

            .btn-header-login {
                width: 100%;
                height: 60px;
                background-color: inherit;
                border: 1px solid $clrBTN;
                margin-bottom: 5px;
            }

            .homepage-header-icon {
                width: 30px;
                height: 30px;
                font-size: 4rem;
                rotate: 270deg;
            }

            .homepage-header-actions {
                display: flex;
                flex-direction: column-reverse;
                gap: 10px;
                flex-grow: 0;
                width: 100%;
                padding-inline: 12px;
                margin-top: 12px;
                align-items: center;
                gap: 10px;
                display: block;
                opacity: 1;
                transition: 0.8s;

                .btn-header-actions {
                    padding-block: 1.8rem;
                    width: 100%;
                    align-items: center;
                    height: 60px;

                }
            }

        }


        @include for-narrow-layout {
            flex-direction: row;

        }

        .homepage-header-btn {
            display: flex;
            align-content: center;
            background-color: transparent;
            font-size: 1rem;
            color: $clr7;
            opacity: 0;
            transition: 0.4s;
            justify-content: space-between;
            padding-inline: 12px;

            .svg-homepage-arrow {
                display: flex;
                height: 1.1rem;
                width: 1.1rem;
                align-items: end;
            }

            @include for-narrow-layout {
                justify-content: flex-start;
                opacity: 1;

            }

            &:hover {
                color: $hompageBTN;

                .homepage-header-icon {
                    path {
                        fill: $hompageBTN;
                    }
                }
            }


            .homepage-header-icon {
                width: 15px;
                height: 10px;
                font-size: 1rem;

                path {
                    fill: $clr7;
                }
            }
        }
    }



    .homepage-header-actions {
        display: none;

        @include for-narrow-layout {
            display: flex;
            justify-content: end;
            justify-items: end;
            flex-grow: 2;
            background-color: transparent;
            font-size: 19px;
            min-width: 116px;
            height: 60px;
        }

        .btn-header-login {
            min-width: 130px;
        }

        .try {
            background-color: $hompageBTN;
            color: $clr1;
            min-width: 130px;

            @include for-narrow-layout {
                min-width: 130px;
                height: 60px;
            }
        }
    }

    .logo-title {
        color: rgb(9, 30, 66);
    }

    .menu-button {
        display: block;
        background-color: inherit;

        @include for-narrow-layout {
            display: none;
        }
    }


}