.homepage-header-container {
    display: flex;
    // justify-content: space-between;
    padding-inline: 120px;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    line-height: 30px;
    position: fixed;
    background-color: $clr1;
    color: $clrHTXT;
    z-index: 1;
    color: $clr7;

    .homepage-header-logo {
        line-height: 30px;
        // padding: 16px;
        // padding-block-start: 20px;
        padding-block-start: 10px;
        padding-inline-end: 16px;
        align-self: flex-start;
        color: $clr7;
        h1 {
            margin: 0;
        }
    }

    .homepage-header-nav {
        display: flex;

        .homepage-header-btn {
            display: flex;
            align-content: center;
            background-color: transparent;
            font-size: 1rem;
            color: $clr7;

            &:hover {
                color: $hompageBTN;

                .homepage-header-icon {
                    path {
                        fill: $hompageBTN;
                    }
                }
            }

            .homepage-header-icon {
                width: 15px;
                height: 10px;
                font-size: 1rem;

                path {
                    fill: $clr7;
                }
            }
        }
    }

    .homepage-header-actions {
        display: flex;
        justify-content: end;
        justify-items: end;
        flex-grow: 2;

        .homepage-header-btn {
            font-size: 19px;
            background-color: transparent;
            padding-inline: 24px;
            padding-block: 8px;
        }

        .try {
            background-color: $hompageBTN;
            color: $clr1;
            padding-block: 19px;
        }
    }

    .logo-title {
        color: rgb(9, 30, 66);
    }
}
