.homepage-header-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    line-height: 30px;
    position: fixed;
    background-color: $clr1;
    color: $clrHTXT;
    z-index: 1;
    color: $clr7;
    padding-inline: 12px;

    @include for-narrow-layout {
        justify-content: flex-start;
        padding-inline: 5%;
    }

    .homepage-header-logo {
        display: flex;
        align-items: center;
        align-content: center;
        line-height: 30px;
        padding-block-start: 10px;
        padding-inline-end: 16px;
        align-self: flex-start;
        color: $clr7;

        h1 {
            margin: 0;
        }

        .logo-icon {
            width: 2rem;
            height: 2rem;
            margin-inline-end: 5px;

            path {
                fill: $clr7;
            }
        }
    }

    .homepage-header-nav {
        display: flex;
        left: 0;
        flex-direction: column;
        font-size: 2rem;
        color: $clr4;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 0px;
        background: $clr1;
        top: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        z-index: 4;
        flex-direction: row;



        .homepage-header-btn {
            display: flex;
            align-content: center;
            background-color: transparent;
            font-size: 1rem;
            color: $clr7;
            opacity: 0;
            transition: 0.4s;
            justify-content: space-between;
            padding-inline: 12px;

            .svg-homepage-arrow {
                display: flex;
                height: 1.1rem;
                width: 1.1rem;
                align-items: end;
            }

            &:hover {
                color: $hompageBTN;

                .homepage-header-icon {
                    path {
                        fill: $hompageBTN;
                    }
                }
            }

            .homepage-header-icon {
                width: 15px;
                height: 10px;
                font-size: 1rem;

                path {
                    fill: $clr7;
                }
            }
        }
    }

    .homepage-header-actions {

        display: flex;
        justify-content: end;
        justify-items: end;
        flex-grow: 2;
        background-color: transparent;
        font-size: 19px;
        min-width: 116px;
        height: 60px;

        .btn-header-login {
            // min-width: 100px;
            background-color: transparent;
            font-size: 1.2rem;
            color: $clr7;
            font-family: charlie;

            @include for-narrow-layout {
                min-width: 130px;
            }

            &:hover {
                color: $clrBtnH;
            }
        }

        .try {
            display: none;
            background-color: $hompageBTN;
            color: $clr1;
            min-width: 130px;
            font-size: 19.2px;

            @include for-narrow-layout {
                display: block;
                min-width: 130px;
                height: 60px;
                font-size: 19.2px;
                font-family: charlie;
            }
        }
    }

    .logo-title {
        color: rgb(9, 30, 66);
    }

    .menu-button {
        display: block;
        background-color: inherit;

        @include for-narrow-layout {
            display: none;
        }
    }
}