.board-loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translate(-50%);
    img{
        width: 50px;
    }
    span{
        font-size: 2em;
        font-weight: 500;
        color: $clr4;
        margin-left: 3px;
    }
}