.login-page {
    display: grid;
    grid-template-columns: 1fr minmax(0, 400px) 1fr;
    grid-template-rows: 0px 1fr;


    @include for-normal-layout {
        grid-template-rows: 130px 1fr;

    }

    width: 100vw;
    height: 100vh;


    h3 {
        text-align: center;
        font-size: 0rem;
        margin: 15px;

        @include for-normal-layout {

            font-size: 3rem;
            margin: 30px;
            color: $clr5;
        }

    }

    .login-signin-container {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        position: relative;
        box-sizing: border-box;
        border-radius: 5px;
        max-width: 400px;
        width: 100%;
        height: fit-content;
        padding: 25px 40px;
        box-shadow: none;
        margin: 0px auto;
        align-items: center;


        @include for-normal-layout {
            box-shadow: rgba(0, 0, 0, 0.3) 0 0 8px;
        }


        .login-container,
        .signin-container {
            width: 100%;

            form {
                width: 100%;
            }

        }



        h3:first-of-type {
            font-size: 1rem;
            margin: 10px 0px 25px;
        }

        input,
        button {
            padding: 7px;
            margin: 0px 0px 16px;
            border: 2px solid $clr3;
            border-radius: 5px;
            height: 40px;
            width: 100%;
            font-weight: 400;
        }

        .login-btn {
            background-color: $clrBtnH;
            border: none;
            color: $clr1;
            font-weight: 700;
            font-size: 0.875rem;
            margin: 0px;
        }

        h3:nth-of-type(2) {
            font-size: .875em;
            font-weight: 300;
            margin: 16px;
        }

        .login-with-btn {
            background-color: $clr1;
            font-size: 0.875rem;
            padding: 3px;
            color: $clr4;
            font-weight: 600;
            box-shadow: 1px 1px 0px 0px rgba(211, 198, 198, 0.3);

            .btn-logo {
                width: 1rem;
                height: 1rem;
                margin-right: 5px;
            }
        }

        hr {
            border-color: $clr2;
            width: 100%;
        }

        h4 {
            font-size: 0.875rem;
            color: $clr8;
            font-weight: 400;
            margin: 4px auto;
        }
    }

    .left-img,
    .right-img {
        max-width: 0px;
        max-height: 0px;
    }

    .right-img {
        position: absolute;
        grid-column: 3;
        align-self: flex-end;
        justify-self: flex-end
    }


    .left-img {
        position: absolute;
        grid-column: 1;
        align-self: flex-end;
        justify-self: flex-start
    }


    @include for-narrow-layout {

        .left-img,
        .right-img {
            max-width: 200px;
            max-height: 200px;
        }
    }

    @include for-wide-layout {

        .left-img,
        .right-img {
            max-width: 400px;
            max-height: 400px;
        }
    }

}