.side-spotify{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #cecece70;
    opacity: 0.85;
    width: 350px;
    position: fixed;
    top: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 9;
    transition: all 0.8s;

    .open-spotify-btn{
        position: relative;
        top: 61px;
        left: 345px;
        background: none;
        font-size: 1.5rem;
        z-index: 99;
        rotate: 90deg;
        transition: all 0.8s;

    }
    
    &.open-spotify{
        transform: translateX(-40px);
        transition: all 0.8s;
        .open-spotify-btn{
            transition: all 0.8s;
        rotate: 270deg;
    }
    }
}