.task-container {
    position: relative;
    background-color: $clr1;
    border-radius: 8px;
    box-shadow: $clrTaskSHDW 0px 1px 1px 0px, $clrTaskSHDW 0px 0px 1px 0px;
    // display: flex;
    margin-block-end: 5px;
    cursor: pointer;

    .btn-task-show-details {
        position: absolute;
        right: 2px;
        top: 2px;
        display: none;
        width: 2rem;
        height: 2rem;
        background-color: $clr2;
        opacity: 0.8;
        border-radius: 8px;

        .edit-icon {
            position: relative;

            width: 100%;

            path {
                fill: $clr6;
            }
        }
    }

    .task-header {
        min-height: 2rem;
        border-radius: 8px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        overflow: hidden;

        .task-header-cover-img {
            width: 100%;
            object-fit: cover;
        }
    }

    .task-content {
        padding-block-end: 4px;
        padding-inline-start: 12px;
        padding-inline-end: 8px;
        padding-block-start: 8px;

        .task-title {
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            margin-block-end: 4px;
            color: $clr7;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 220px;
            max-width: 220px;
        }

        .task-labels {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            gap: 5px;

            .task-labels-btn {
                border-radius: 3px;
                padding-inline: 8px;
                color: $clr7;
                font-weight: 500;
                font-size: 12px;
                min-width: 40px;
                min-height: 8px;
                transition: all 0.3s;
            }
        }
    }

    &:hover {
        .btn-task-show-details {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: $clr3;
            }
        }
    }
}