.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;



    .task-details-container {
        border-radius: 0.75em;
        border-bottom-left-radius:0 ;
        border-bottom-right-radius:0 ;
        background-color: $clr1;
        z-index: 2;
        overflow: auto;
        padding: 0;
        position: fixed;
        top: 48px;
        left: 30%;
        width: 768px;
        align-self: center;
        justify-self: center;
        max-height: 700px;
        
        .task-details-secondry-container {
            padding: 10px 10px;
            z-index: 3;
            background-color: $clr1;
            display: grid;
            grid-template-columns: 1fr 150px;
            position: fixed;
            top: 208px;
            left: 30%;
            width: 768px;
            align-self: center;
            justify-self: center;
            max-height: 700px;
    

        }

        .task-header {
            grid-column: 1/3;
        }

        .window-sidebar {
            grid-column: 2;
        }
    }

    .task-details-modal {
        background-color: white;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}
