.add-to-card-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    @include for-normal-layout {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

.button-link {
    background-color: $clr3;
    border: none;
    border-radius: 3px;
    color: $clr4;
    display: flex;
    height: 32px;
    margin-block-start: 8px;
    margin-inline-end: 8px;
    // max-width: 300px;
    width: 48%;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    align-items: center;

    @include for-normal-layout {
        max-width: 300px;
        width: auto;
        margin-inline-end: 0;
    }

    @media (max-width: 440px) {
        width: 100%;
    }

    &:hover {
        cursor: pointer;
        background-color: $clrH;
    }

    .sidebar-icon {
        margin-right: 10px;
        width: 16px;
        height: 16px;
        line-height: 20px;
        pointer-events: none;

        path: {
            fill: $clr3;
        }
    }
    span {
        pointer-events: none;
    }
}
