.attachment-container {
    display: grid;
    grid-template-columns: 112px 1fr;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 20px;

    .attachment-image {
        grid-column: 1;
        background-color: $clr3;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 3px;
        text-align: center;
        text-decoration: none;
        height: 80px;
        width: 112px;

        img {
            width: 112px;
            height: 80px;
            object-fit: contain;
        }
    }

    .attachment-content {
        grid-column: 2;
        box-sizing: border-box;
        cursor: pointer;
        margin: 0;
        min-height: 80px;
        padding: 8px 8px 8px 8px;

        .attachment-title {
            width: 100%;
            display: inline-block;
            font-weight: 700;
            color: $clr7;
        }

        .small-dots {
            margin-left: 5px;
            // margin-right: 5px;
            text-decoration: none;
            font-size: 14px;
        }

        .attachment-btns {
            margin-left: 5px;
            text-decoration: underline;
            color: $clr6;
            font-size: 14px;
        }
    }
}
.edit-attachment {
    margin-inline: 12px;

    h5 {
        line-height: 0.5rem;
    }

    .edit-attachment-input {
        border: none;
        background-color: #fafbfc;
        line-height: 20px;
        outline: none;
        margin-bottom: 12px;
        width: 90%;
        padding: 8px 12px;
        border-radius: 3px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
    }

    .edit-attachment-btns {
        margin: 0 0 12px 1px;
    }
}
