.task-main-content {
    grid-column: 1;

    .description-title,
    .checklist-title,
    .activities-title {
        display: flex;
        align-items: center;

        h3 {
            font-size: 1rem;
            font-weight: 500;
            color: $clr5;
        }
    }

    .task-content-icon {
        width: 16px;
        height: 16px;
        padding-top: 3px;
        margin-right: 5px;
    }

    .description {
        .desc-overlay {
            position: fixed;
            margin: auto;
            top: 0;
            // left: 0;
            width: 768px;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: -2;
            overflow-y: auto;
        }

        .description-container {
            width: 100%;
            padding-left: 20px;
            z-index: 3;

            .main-content-text-area {
                resize: none;
                border: none;
                border-radius: 3px;
                background-color: $clr3;
                width: 100%;
                min-height: 130px;
                overflow: hidden;
                font-size: 0.85rem;
                padding: 8px;
                padding-left: 16px;
                line-height: 2rem;
                outline: none;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
                    Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

                &:focus {
                    background-color: $clr1;
                    box-shadow: rgb(56, 139, 255) 0px 0px 0px 2px inset;
                }
            }
        }


        .cancel-edit-btn {
            color: $clr7;
            height: 2rem;
            font-size: 14px;
            height: 32px;
            padding: 6px 12px;

            &:hover {
                background: $clrH;
            }
        }

        .edit-desc-btns {
            margin-top: 3px;
            margin-left: auto;

        }

        .edit-desc-btn {
            @include task-ligth-btn();
        }

        .description-content {
            margin: 0;
            margin-inline-start: 20px;
            font-size: 14px;
            color: $clr7;
            cursor: pointer;
        }
    }
}