.data-preview {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;

    .data-item {
        .member-data {
            margin-left: 20px;
            display: flex;
            flex-direction: column;

            .data-preview-title {
                font-size: 0.625rem;
                font-weight: 600;
                color: $clr5;
            }

            .members {
                display: flex;

                .member-img {
                    height: 1.75em;
                    width: 1.75em;
                    border-radius: 50%;
                    margin-right: 3px;
                }

                .add-member-icon {
                    height: 1.75rem;
                    width: 1.75rem;
                    border-radius: 50%;
                    background-color: $clr3;
                    inset: 0;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .plus-icon {
                        height: 1em;
                        width: 1em;
                    }
                }
            }
        }

        .label-data {
            margin-left: 20px;

            .data-preview-title {
                font-size: 0.625rem;
                font-weight: 600;
                color: $clr5;
            }

            .labels {
                display: flex;
                flex-wrap: wrap;

                .add-label-icon {
                    height: 1.5em;
                    width: 1.5em;
                    border-radius: 3%;
                    background-color: $clr3;
                    inset: 0;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .plus-icon {
                        height: 1em;
                        width: 1em;
                    }
                }

                .label-button {
                    display: inline-block;
                    height: 2em;
                    border-radius: 3px;
                    padding: 5px 10px;
                    margin: 2px;
                    color: $clr7;
                    font-size: 0.75rem;
                }
            }
        }

        .date-data {
            margin-left: 20px;
            display: flex;
            flex-direction: column;

            .data-preview-title {
                font-size: 0.625rem;
                font-weight: 600;
                color: $clr5;
            }

            .date-details {
                display: flex;

                .full-date {
                    background-color: $clrTaskPrvHvr;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    justify-items: center;
                    border-radius: 3px;
                    padding-inline: 5px;
                    margin-inline-start: 2px;
                    cursor: pointer;

                    .date-picker {
                        border: 4px solid gray;
                        top: 5%;
                        left: 40%;
                        position: fixed;
                        width: 350px;
                        height: 550px;
                        z-index: 3;
                        background-color: $clr3;
                        color: $clr4;
                    }

                    .time {
                        font-size: 14px;
                        color: $clr6;
                        font-weight: 400;
                    }
                }

                .down-img {
                    width: 1em;
                    height: 1em;
                    margin: 0px 5px 0px 5px;
                    transform: translateY(20%);

                    path {
                        fill: $clr7;
                    }
                }

                .badge {
                    font-size: 12px;
                    border-radius: 2px;
                    margin-inline-start: 8px;
                    padding-inline: 4px;
                    // background-color: green;
                    color: $clr1;
                }
                .completed {
                    background-color: green;
                }
                .overdue {
                    background-color: #ffedeb;
                    color: #ae2a19;
                }
                .duesoon {
                    background-color: $clrSOON;
                    color: $clr7;
                }
            }
        }
    }
}
