.checklists-container {
    .checklist-container {
        .checklist-title {
            display: flex;
            flex-direction: row;

            button {
                margin-left: auto;
                padding: 7px 7px;
                color: $clr7;
                border-radius: 5px;
                background-color: $clrTodoBg;
                color: $clr7;

                &:hover {
                    background-color: $clrH;
                }
            }
        }

        .progress-bar {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;

            span {
                font-size: 0.65rem;
                margin-bottom: 2px;
                margin-left: 3px;
            }

            .empty-bar {
                background-color: $clr3;
                min-width: 100px;
                height: 7px;
                margin-left: 3px;
                width: 100%;

                .fill-bar {
                    // width: 20%;
                    height: 100%;
                    background-color: $clr8;
                    border-radius: 20px;
                    transition: width 0.3s ease;
                }

                .completed {
                    background-color: green;
                }
            }
        }

        .todo {
            display: flex;
            flex-direction: row;
            margin: 0px;
            align-items: center;
            border-radius: 3px;
            cursor: pointer;
            width: 100%;

            .todo-content {
                display: flex;

                h3 {
                    font-size: 0.68rem;
                    margin: 5px;
                    color: $clr4;
                    font-weight: 500;
                    white-space: pre-line;
                }

                input {
                    margin-top: 5px;
                }
            }

            &:hover {
                background-color: $clrTodoBg;
                transition: all 0.3s;
                justify-content: space-between;
            }

            .delete-todo-btn {
                border-radius: 3px;
                display: flex;
                justify-items: center;
                justify-content: center;
                align-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                background-color: transparent;
                padding: 0;
                margin-inline-end: 20px;

                .delete-todo-icon {
                    width: 16px;
                    height: 16px;

                    path {
                        fill: $clr7;
                    }
                }
            }
        }

        .completed h3 {
            text-decoration: line-through;
        }

        .new-checklist-btn {
            color: $clr7;
            border-radius: 3px;
            padding-inline: 12px;
            padding-block: 6px;
            background-color: $clrTodoBg;
            margin-inline-start: 25px;
            margin-block: 8px;

            &:hover {
                background-color: $clrH;
            }
        }

        .new-checklist-menu {
            margin-inline-start: 25px;

            textarea {
                border: 0;
                padding-block: 10px;
                padding-inline-start: 10px;
                border-radius: 3px;
                width: 100%;
                resize: vertical;

                &:focus {
                    border: 0;
                    outline: 0;
                    box-shadow: inset 0 0 0 2px $clrTodobtn;
                }
            }

            .todo-btns {
                .add-item-btn {
                    background-color: $clrTodobtn;
                }

                .cancel-btn {
                    color: $clr7;
                }
            }
        }
    }
}