.task-details-container{
    padding: 50px;
    border: 1px solid grey;
    border-radius: 2em;
    display: grid;
    grid-template-columns: 1fr 150px;

    .data-preview{
        display: flex;
        flex-wrap: wrap;
        .data-item{
            margin-right: 20px;
        }
    }
    .task-header{
        grid-column: 1/3;
    }
    .window-sidebar{
        grid-column: 2;
    }
}