.muilty-boards-container {
    max-width: 1038px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-block-start: 65px;
}

.section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block-end: 20px;
}

.starred-board-title,
.recently-viewed-title {
    span {
        display: block;
        font-size: 0.85rem;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: 700;
        color: $clr6;
        margin-left: 8px;
    }

    .boards-icon {
        width: 18px;
        height: 18px;
    }
}




.starred-board-title,
.recently-viewed-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: start;
}

.starred-boards-container,
.recently-viewed-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.starred-boards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.board-preview {
    position: relative;
    border-radius: 3px;
    color: #fff;
    font-size: 0.8547em;
    height: 96px;
    width: 194px;

    &:hover {
        .starred-btn {
            opacity: 1;
        }

        img {
            filter: brightness(50%);
        }
    }
}

.board-preview button {
    background-color: rgb(0, 0, 0, 0);
}

.board-preview h1 {
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    margin-left: 10px;
    z-index: 2;
    color: rgba(255, 255, 255, 0.937);
}

.board-preview img {
    width: 194px;
    height: 96px;
    transition: filter 0.3s ease-in-out;
}

.starred-btn {
    path {
        fill: white;
    }

    height: 1em;
    width: 1em;
}

.board-preview .starred-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.starred-btn.starred {
    opacity: 1;

    path {
        fill: yellow;
    }
}