.main-footer {
    display: grid;
    grid-row: 3;
    grid-column: 1/-1;
    position: relative;
    justify-content: center;
    justify-items: center;
    text-align: center;
    justify-self: center;
    padding-inline-end: 10px;
    color: $clr5;
    width: 100%;
    background-color: transparent;
    padding-top: 25px;

    h4 {
        grid-column: 2;
        line-height: 1em;
        margin-bottom: 20px;
    }

    .copy-rights {
        max-width: 200px;
        min-width: 60px;
        grid-row: 2;

        h5 {
            line-height: 1em;
            margin: 0;
        }
    }

    i {
        color: $clr5;
    }


}