.main-footer {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-bottom: 20px;
    padding-inline-end: 10px;
    color: $clr7;
    width: 10%;


    h4 {
        grid-column: 2;
        line-height: 1em;
        margin-bottom: 20px;
    }
    
    .copy-rights {
        max-width: 200px;
        min-width: 60px;
        grid-row: 2;
        h5{
            line-height: 1em;
            margin: 0;
        }
    }
    
    i {
        color: $clr6;
    }
    

}