.side-spotify {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: none;
    opacity: 0.9;
    width: 370px;
    position: fixed;
    top: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 9;
    transition: all 0.8s;

    @include for-narrow-layout {
        width: 450px;
    }

    .open-spotify-btn {
        position: relative;
        top: 61px;
        left: 365px;
        background: none;
        font-size: 1.5rem;
        z-index: 99;
        rotate: 90deg;
        transition: all 0.8s;

        @include for-narrow-layout {
            left: 445px;
        }

    }

    &.open-spotify {
        transform: translateX(-40px);
        transition: all 0.8s;

        .open-spotify-btn {
            transition: all 0.8s;
            rotate: 270deg;
        }
    }
}