.side-spotify {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: none;
    opacity: 1;
    width: 340px;
    position: fixed;
    top: 0;
    height: 100%;
    transform: translateX(-97%);
    z-index: 9;
    transition: all 0.8s;

    &:hover .spotify-player {
        opacity: 0.7
    }

    &:hover .play-icon {
        opacity: 0.7
    }

    @include for-narrow-layout {
        width: 450px;
    }

    .spotify-player {
        opacity: 0.2;
    }

    .play-icon {
        width: 25px;
        height: 25px;
        opacity: 0.4;       
        &:hover{
            opacity: 1;
        }
    }

    .open-spotify-btn {
        position: relative;
        top: 61px;
        left: 330px;
        background: none;
        font-size: 1.5rem;
        z-index: 99;
        transition: all 0.8s;

        @include for-narrow-layout {
            left: 435px;
        }
    }

    &.open-spotify {
        transform: translateX(-45px);
        transition: all 0.8s;
        opacity: 0.9;

        .open-spotify-btn {
            scale: 1.2;
            transition: all 0.8s;
            rotate: 180deg;
        }

        .spotify-player {
            opacity: 0.9;
        }

    .play-icon {
    opacity: 0.9;
    }

    }

    @keyframes heartbeat {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
      
      .heartbeat-animation {
        animation-name: heartbeat;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
}