@mixin task-ligth-btn() {
    margin-left: auto;
    padding: 7px 7px;
    color: $clr7;
    border-radius: 5px;
    background-color: $clrTodoBg;

    &:hover {
        background-color: $clrH;
    }
}

// /* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint)) {
        @content;
    }
}

// /* Media  Mixins */
// @mixin aspect-ratio($width, $height) {
//     position: relative;
//     overflow: hidden;
//     &::before {
//         display: block;
//         content: '';
//         width: 100%;
//         padding-top: calc(($height / $width) * 100%);
//     }
//     > * {
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//     }

//     > img {
//         height: 100%;
//         object-fit: cover;
//     }
// }

// // Mixin for removing hover efects on iphone screen
// @mixin hover-supported {
//     @media not all and (pointer: coarse) {
//         &:hover {
//             @content;
//         }
//     }
// }

// @mixin card-preview {
//     padding: 8px 8px 4px 12px;
//     text-decoration: none;
//     color: $clr7;
//     border-radius: 3px;
//     box-shadow: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f, none;
// }