// Colors
$clr1: #ffffff;
$clr2: #f1f2f4;
$clr3: #dcdfe4;
$clr4: #626f86;
$clr5: #42526e;
$clr6: #44546f;
$clr7: #172b4d;


$clr8: #0c66e4;
$clr9: #6e5dc6;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;