// Colors
$clr1: #ffffff;
$clr2: #f1f2f4;
$clr3: #dcdfe4;
$clr4: #626f86;
$clr5: #42526e;
$clr6: #44546f;
$clr7: #172b4d;

$clrBtnH: #0055cc;
$clr9: #6e5dc6;

$clrH: #091e4224;
$clrBH: #ffffff3d;
$clrBGH: #091e4200;
$clrHTXT: #091e42;
$clrNotFound: #6b778c;

$clrBTN: #0c66e4;
$clrTaskSHDW: #091e424f;

$clrTaskPrvHvr: #091e420f;

$clrCMPLT: #1f845a;
$clrOVRDU: #ca3521;
$clrSOON: #e2b203;

$clrSCROLL: #bcbfc5;
$clrScrollTrans: #bcbfc546;

$clrRAIL: #e2e2e2;
$clrRailTrans: #e2e2e231;

$clrTskMnu: #c7d1db;

$radius: 12px;
$groupWidth: 271px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
