// Colors
$clr1: #ffffff;
$clr2: #f1f2f4;
$clr3: #dcdfe4;
$clr4: #626f86;
$clr5: #42526e;
$clr6: #44546f;
$clr7: #172b4d;
$clr8: #0c7ff2;
$clr9: #0055cc;

$clrBtnH: #0055cc;
$clr9: #6e5dc6;

$clrH: #091e4224;
$clrBH: #ffffff3d;
$clrBGH: #091e4200;
$clrHTXT: #091e42;
$clrNotFound: #6b778c;

$clrBTN: #0c66e4;
$clrTaskSHDW: #091e424f;

$clrTaskPrvHvr: #091e420f;

$clrCMPLT: #1f845a;
$clrOVRDU: #ca3521;
$clrSOON: #e2b203;

$clrSCROLL: #6b6b6b6d;
$clrScrollTrans: #e1e1e27b;

$clrRAIL: #e2e2e290;
$clrRailTrans: #dcdada69;

$clrTskMnu: #c7d1db;
$clrLblPrv: #601e16;

$clrTodobtn: #0079bf;
$clrTodoBg: #091e420a;
$hompageBTN: #0065ff;

$radius: 12px;
$groupWidth: 271px;

// Breakpoints
$mobile-breakpoint: 520px;
$narrow-breakpoint: 760px;
$normal-breakpoint: 1200px;